.background_AddData {
    display: flex;
    margin: 0;
    margin-top: -110px;
    height: 114.2vh;
    background-color: #121212;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px), 
                      linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 0.5px);
    background-size: 80px 80px; 
}
.background_AddData_1{
  
    width: 1300px;
    height: 500px;
    margin: 300px 100px;
    color: white;
}
.background_AddData_1 h1{
    font-size: 48px;
    text-align: center;
}
.background_AddData_1 p{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}
.background_AddData_1_1 {
   display: flex;
    width: 90%;
    height: 200px;
    margin: 40px 80px;
}
.background_AddData_1_1_1 {
    cursor: pointer;
    width: 24%;
    margin-left:1% ;
    margin-right: 1%;
    height: 100%;
}
.background_AddData_1_1_1_1{
   
    width: 100%;
    height: 155px;
    background-color: #1E1E1E;
}
.background_AddData_1_1_1_1 img{
  margin-left: 60px;
    width: 151px;
    height: 154px;
}
.background_AddData_1_1_1_2{
    background-color: brown;
    width: 100%;
    height: 45px;
    margin-top: -21px;
}
.background_AddData_1_1_1_2 p{
    padding-top:8px;
    /* margin-left: -100px; */
}
.background_AddData_1_1_1_2 i{
    margin-left: 100px;
    font-size: 15px;
    border-radius: 99px;
    width: 25px;
    height: 25px;
    padding-top: 5px;
    background-color: rgb(195, 174, 174);
    color: rgba(0, 0, 0, 0.9);
}

.background_AddData_1_1_1:hover .background_AddData_1_1_1_1 {
    background-color: #2e2b2b;
  }
  